<%- include('partials/header'); %>

<link rel="stylesheet" href="/css/test.css" type="text/css">

<div class="main">
    
    <div class="title">
        テスト
    </div>
    
    <div class="content">
        <div>
            ＜答え＞
        </div>

        <div class="index">
            <p><%=word.answere%></p>
        </div>
    </div>
    
    <p class="next"><a href="/test/<%=list%>">次へ</a></p>

    <div class="link">
        <a href="/front/<%=list%>">
            表紙へ
        </a>
    </div>

</div>

<%- include('partials/footer'); %>