<%- include('partials/header'); %>

<h1>ノート</h1>

<a href="/index/<%=list%>">一覧</a>
<a href="/test/<%=list%>">テスト</a>
<a href="/add/<%=list%>">追加</a>

<p>
    <a href="/">トップへ</a>
</p>
    
<%- include('partials/footer'); %>