<%- include('partials/header'); %>

<div class="main">
    
    <div class="title">
        <%=list%>
    </div>
    
    <a href="/index/<%=list%>">一覧</a>
    <a href="/test/<%=list%>">テスト</a>
    <a href="/add/<%=list%>">追加</a>
    
    <p>
        <a href="/">トップへ</a>
    </p>
</div>
    
<%- include('partials/footer'); %>