<%- include('partials/header'); %>


<h1>test</h1>

<p><%=word.question%></p>
<p><%=word.answere%></p>

<p><a href="/test/<%=list%>">次へ</a></p>
<a href="/front/<%=list%>">
    表紙へ
</a>

<%- include('partials/footer'); %>